<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='styleforwallet.css')}}">

</head>
<body>


    <div class="app">
        <div class="logo">
            <h1 class="logo-title">
                <span>DEAR {{user.name}}</span>
                Available Balance:{{user.accountbalance}} Rs
            </h1>

        </div>

        <div class="app-body-main-content">
            <section class="service-section">
                <div class="tiles">
                    <article class="tile">
                        <div class="tile-header">
                            <i class="ph-lightning-light"></i>
                            <h3>
                                <span>LOAN</span>
                                <span>AJ FINANCE LTD.</span>
                            </h3>
                        </div>
                        <a href="#">
                            <span>Go to service</span>
                            <span class="icon-button">
                                <i class="ph-caret-right-bold"></i>
                            </span>
                        </a>
                    </article>
                    <article class="tile">
                        <div class="tile-header">
                            <i class="ph-fire-simple-light"></i>
                            <h3>
                                <span>FIXED DEPOSITE</span>
                                <span>OMKAR LTD</span>
                            </h3>
                        </div>
                        <a href="#">
                            <span>Go to service</span>
                            <span class="icon-button">
                                <i class="ph-caret-right-bold"></i>
                            </span>
                        </a>
                    </article>
                    <article class="tile">
                        <div class="tile-header">
                            <i class="ph-file-light"></i>
                            <h3>
                                <span>INSURANCE</span>
                                <span>OK 62 str.</span>
                            </h3>
                        </div>
                        <a href="#">
                            <span>Go to service</span>
                            <span class="icon-button">
                                <i class="ph-caret-right-bold"></i>
                            </span>
                        </a>
                    </article>
                </div>
                <div class="service-section-footer">

                </div>
            </section>

            <section class="transfer-section">
                <div class="transfer-section-header">
                    <h2>ADD FUNDS</h2>
                    <form action="{{ url_for('add_funds') }}" method="POST" class="funds-form">
                        <div class="form-group">
                            <input type="number" id="amount" name="amount" placeholder="Amount" class="form-control"
                                required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Funds</button>
                    </form>
                </div>
                <div class="transfer-section-header">
                    <h2>WITHDRAW FUNDS</h2>
                    <form action="{{ url_for('withdraw_funds') }}" method="POST" class="funds-form">
                        <div class="form-group">
                            <input type="number" id="amount" name="amount" placeholder="Amount" class="form-control"
                                required>
                        </div>
                        <button type="submit" class="btn btn-primary">Withdraw Funds</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
    </div>


</body>

</html>